<div class="col-md-12">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<ol class="breadcrumb">
				<li><a href="{{app_context}}/">{{__ "Home"}}</a></li>
				<li><a href="{{app_context}}/Customers">{{__ "Customers"}}</a></li>
				<li class="active">{{__ "New Customer"}}</li>
			</ol>
			<h1>{{__ "New Customer"}}</h1>
			<form method="post" id="edit_form" action="{{app_context}}/customer_insert" data-toggle="validator">
				<div class="form-group">
					<label>{{__ "Name"}} *</label>
					<input type="text" class="form-control" name="customers_name" value="{{customer.customers_name}}" required>
				</div>
				<div class="form-group">
					<label>{{__ "Company"}} *</label>
					<input type="text" class="form-control" name="customers_company" value="{{customer.customers_company}}" required>
				</div>
				<div class="form-group">
					<label>{{__ "Email"}} *</label>
					<input type="email" class="form-control" name="customers_email" value="{{customer.customers_email}}" required>
				</div>
				<div class="form-group">
					<label>{{__ "System Type"}} *</label>
					<select class="form-control" id="sysType" onclick="sysSel()" name="customers_sysType" value="{{customer.customers_sysType}}" required>
						<option hidden selected>{{__ ""}}</option>
						<option>{{__ "DP900"}}</option>
						<option>{{__ "DP700"}}</option>
						<option>{{__ "DP200"}}</option>
						<option>{{__ "Other"}}</option>
					</select>
				</div>
				<div class="form-group">
					<label>{{__ "System Number"}} *</label>
					<input id="sysNum" type="number" class="form-control" name="customers_SN" value="{{customer.customers_SN}}" readonly required>
				</div>
				<div class="form-group">
					<div class="pull-right">
						<button type="submit" class="btn btn-primary">{{__ "Create"}}</button>
					</div>
				</div>
			</div>
		</div>
	</div>
